.btn {
  color: $color-white;
  border-radius: 1.25rem;
  padding: 2rem 3rem;
  width: 81%;
  background-color: $color-primary--dark;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  font-size: 1.5rem;
  font-weight: 700;
  font-family: inherit;

  &:hover,
  &:active {
    background-color: $color-primary--dark2;
  }
}

.link {
  font-size: $font-small;
  &:link,
  &:visited {
    font-weight: 700;
    color: $color-primary--dark;
  }

  &:hover,
  &:active {
    text-decoration: none;
    color: $color-primary--dark2;
  }
}
